

      <footer style="position: fixed; left: 0; bottom: 0;">&copy Aman Sohani</footer>
      </div>

<script>
           var fade_karna = document.querySelector("#fade_karna");
     setTimeout(function(){ 
       fade_karna.style.display = "none";
        
 }, 5000);
</script>
      </body>
    </head>
</html>