<% include ../partials/header.ejs %>
<div class="row" style="padding-top: 70px">
    <h1 style="text-align: center">Please enter the name of movie you want to upload ...</h1>
    <div style="width: 30%; margin: 25px auto;">
        <form action="/movies/new/aman" method="get">
            <div class="form-group">
                <input class="form-control" type="text" name="movie_name" placeholder="movie name">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Submit</button>
            </div>
        </form>
        <a href="/movies">Go Back</a>
    </div>
</div>

<% include ../partials/footer.ejs %>